
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
*.sln
*.vcxproj
*.filters
*.user
2022-09-20-Project-Assignment-1/.vs/2022-09-20-Project-Assignment-1/v17/.suo
*.tlog
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.txt
*.obj
2022-08-25-First-ASM-Project/Debug/_IsIncrementalBuild
2022-08-25-First-ASM-Project/.vs/2022-08-25-First-ASM-Project/v17/.suo
2022-09-20-Project-Assignment-1/Debug/_IsIncrementalBuild
2022-10-09-Project-Assignment-2/.vs/2022-10-09-Project-Assignment-2/v17/.suo
2022-10-09-Project-Assignment-2/Debug/_IsIncrementalBuild
2022-10-31-Project-Assignment-3/Debug/_IsIncrementalBuild
2022-10-31-Project-Assignment-3/.vs/2022-10-31-Project-Assignment-3/v17/.suo
2022-11-22-Project-Assignment-4/Debug/_IsIncrementalBuild
2022-11-22-Project-Assignment-4/.vs/2022-11-22-Project-Assignment-4/v17/.suo
